/// SPECIFIY ANY SPECIAL FONTS HERE IF YOU NEED TO

@font-face {
    font-family: Futura;
    src: url("../fonts/Futura/FuturaStd-Book.otf");
}

@font-face {
    font-family: FuturaBold;
    src: url("../fonts/Futura/FuturaStd-Bold.otf");
}

@font-face {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    //src: url("../fonts/Lucida/LucidaGrande.ttc");
}
