.table-responsive {
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0; }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0; }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0; }

.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

.home-section-pad {
  padding: 20px; }

.readers-header {
  padding: 0px; }
  .readers-header .logo {
    display: block; }
    .readers-header .logo img {
      display: inline-block;
      height: 100px; }
    .readers-header .logo .logo-text p {
      font-size: 12px;
      display: block;
      padding: 0px;
      margin: 0; }
  .readers-header .go {
    background-color: #891e1e;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: none;
    display: block;
    width: 100%; }
    .readers-header .go:hover {
      background-color: #eee;
      color: #333 !important;
      text-decoration: none; }
  .readers-header nav.navbar {
    background-color: #51667f;
    margin-top: 0px;
    padding: 0px;
    width: 100%; }
    .readers-header nav.navbar #navbar {
      margin-top: 100px;
      padding: 0px;
      width: 100% !important; }
      .readers-header nav.navbar #navbar ul.navbar-nav {
        margin: 0px;
        width: 100%; }
        .readers-header nav.navbar #navbar ul.navbar-nav .navbar-form {
          margin-left: 0px;
          margin-right: 0px; }
        .readers-header nav.navbar #navbar ul.navbar-nav li {
          width: 100%; }
          .readers-header nav.navbar #navbar ul.navbar-nav li a:hover {
            background-color: #891e1e; }

.readers-content {
  margin-bottom: 0px; }
  .readers-content h2 {
    font-size: 22px; }
  .readers-content section.head-image {
    margin-top: 145px; }
  .readers-content .box {
    display: block;
    color: #fff;
    padding: 20px;
    min-height: 360px;
    width: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom: 30px; }
    .readers-content .box img {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 100px; }
    .readers-content .box h1 {
      font-size: 20px;
      font-weight: bold;
      display: block;
      position: relative;
      text-transform: uppercase;
      text-align: center; }
    .readers-content .box p {
      display: block;
      text-align: left;
      position: relative; }
    .readers-content .box a {
      display: block;
      float: right;
      text-transform: uppercase;
      color: #fff !important; }
      .readers-content .box a:hover {
        color: #eee;
        text-decoration: underline; }
  .readers-content .home-features {
    height: auto;
    padding: 20px 0 !important; }
    .readers-content .home-features h2 {
      top: 40px;
      font-size: 22px; }
    .readers-content .home-features .view {
      background-color: #891e1e;
      color: #fff;
      padding: 5px;
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      border: none; }
      .readers-content .home-features .view:hover {
        background-color: #eee;
        color: #333 !important;
        text-decoration: none; }
  .readers-content section.home-documents, .readers-content section.home-forums {
    background-image: none; }
