.readers-content {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    color: $text-color;
    min-height: 100vh;
    margin-bottom: 0px;

    a {
        color: $red;

        &:hover {
            color: $header-color;
        }
    }

    h1, h2 {
        font-weight: bold;
    }

    section.head-image {
        display: block;
        position: relative;
        margin-top: 180px;

        img {
            width: 100%;
            border: 0px;
        }
    }

    .box {
        @include readers-box;
    }

    .home-features {
        height: 331px;
        padding: 20px 0;
        position: relative;

        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            padding-left: 0px;
            padding-right: 0px;
        }

        h2 {
            display: block;
            text-align: left;
        }

        h3 {
            font-size: 22px;
            font-weight: bold;
        }

        .icon {
            display: block;
            width: 130px;
        }

        .text-block {
            display: block;
            position: relative;
            margin-top: 30px;
        }

        ul {
            display: block;
            list-style: none;
            padding: 0;
            width: 100%;

            li {
                display: block;

                a {
                    display: block;
                    color: $white !important;
                    text-decoration: none;

                    &:hover {
                        color: $light-grey;
                        text-decoration: underline;
                    }
                }
            }
        }

        .btn-view {
            @include readers-btn;

            display: block;
            float: right;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    section.webinars {
        background-color: $nav-hover-blue;
        color: $white;
        background-image: url("../images/webinars-right-image.png");
        background-size: 516px 331px;
        background-repeat: no-repeat;
        background-position: right center;
    }

    section.discussion-board {
        background-color: $red;
        color: $white;
        background-image: url("../images/discussion-right-image.png");
        background-size: 516px 331px;
        background-repeat: no-repeat;
        background-position: right center;
    }

    section.resources {
        background-color: $forest-green;
        color: $white;
        background-image: url("../images/resources-right-image.png");
        background-size: 516px 331px;
        background-repeat: no-repeat;
        background-position: right center;
    }

    section.home-bottom-image {
        display: block;
        text-align: center;

        img {
            width: 100%;
            display: block;
            margin-bottom: -41px;
        }
    }

    section.internal-page-head {
        background-color: $header-color;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        padding: 20px 0px;
        margin-top: 200px;
    }

    section.search-head {
        background-color: $header-color;
        color: $white;
        background-image: url("../images/QuestionMarks.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        text-transform: uppercase;
        min-height: 200px;
    }

    section.internal-page-content {
        display: block;
        width: 100%;
        margin: 30px 0;

        h2 {
            display: block;
            color: $nav-blue;
        }

        p {
            display: block;
            color: $text-color;
        }

        .display-head {
            display: block;
            width: 100%;
            color: $white;
            background-color: $nav-blue;
            font-weight: bold;
            text-align: left;
            padding: 5px 0;
        }

        div.display-row {
            display: block;
            padding: 15px 0;
            color: $text-color;
            border-left: 1px solid $display-border;
            border-right: 1px solid $display-border;

            &:nth-child(odd) {
                background-color: $medium-grey;
            }

            &:nth-child(even) {
                background-color: $light-grey;
            }

            &:last-child {
                border-bottom: 1px solid $display-border;
            }
        }
    }
}

.scrollme {
    overflow-y: auto;
}

.tabs {
    margin-top: -740px;
}

section.home-bottom-image {
    border-top: solid 15px #0d2338;
}
