.readers-navigation {
    .readers-header nav.navbar #navbar ul.navbar-nav li {
        font-size: 16px;
    }
}

.region.region-main-navigation {
    width: 100%;
}

.readers-header nav.navbar #navbar ul.navbar-nav li {
    font-size: 16px;
}
