.readers-footer {
    .footer-nav {
        ul {
            li {
                display: block;
                width: 100%;
                padding: 10px 0;

                a {
                    &:hover {}
                }
            }
        }
    }
}
